@import url(https://fonts.googleapis.com/css?family=Electrolize);
body {
  
  font-size: 2em;
  text-transform: ;
    background-color: #f4f5f6;
  color: #f4f5f6;
  width: 100%;
  overflow: hidden;
  
}

.animation
{
  width: 100%;
  text-align: center;
  
  font-size: 120px;
  align-items: left;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 4px;
  
}
.header
{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
   
     
  
}

a:hover
{
  transition: 0.5s;
  box-shadow: 0 0 5px black ,
        0 0 15px black,
        0 0 30px black,
        0 0 40px black;
}
.locked {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}


.btn
{
    margin-left: 400px;
}
@media only screen and (max-width: 600px) {
      .btn {
        margin-left: 320px;
          margin-top: 85px; 
      }
     .img_div
     {
        margin-left: 80px;
     }
}
@media only screen and (max-width: 1920px) {
      .btn {
        margin-left: 350px;
         
      }
    .logo
    {
        margin-left: 80px;
    }
     .img_div
     {
         
        margin-left: 120px;
     }
}
@media only screen and (max-width: 3840px) {
      .btn {
        margin-left: 350px;
         
      }
    .logo
    {
        margin-left: 80px;
    }
     .img_div
     {
         
        margin-left: 120px;
     }
}