@import url(https://fonts.googleapis.com/css?family=Electrolize);
body {
  
  font-size: 2em;
  text-transform: ;
    background-color: #f4f5f6;
  color: #f4f5f6;
  width: 100%;
  overflow: hidden;
  
}

.animation
{
  width: 100%;
  text-align: center;
  
  font-size: 120px;
  align-items: left;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 4px;
  
}
.header
{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
   
     
  
}

a:hover
{
  transition: 0.5s;
  box-shadow: 0 0 5px black ,
        0 0 15px black,
        0 0 30px black,
        0 0 40px black;
}
.locked {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .logo_img
    {
        width: 400px;
        height: 150px
    }
    .main
    {
        width: 300px;
        height: 300px;
        margin-left: 40px
    }
    .btn
    {
        margin-left: 85px;
        margin-top: 10px;
        
    }
}


